
<h1 style="color: #080101; margin-left: 500; font-weight: 900;">CERVICAL CANCER DETECTION</h1>


<style>
    .up{
        margin-left: 600;
        margin-top: 300;
        color: black;
        font-family: 'Times New Roman', Times, serif;

    }
    .but{
        margin-top: -20;
        margin-left: 900;
        color: black;
        background-color: #be1558d1;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
        border: 1px solid #f1cbda;
    }

</style>
<style>
    body{
           background-image:url("static/images/2.jpg");
           background-position: center;
           background-repeat: no-repeat;
           background-attachment: fixed;
           background-size: 100% 100%;
           
           
           
           
       }
   </style>
<form action="base" method="post" enctype="multipart/form-data">
   <input class="up" type="file" name="a1" ><br>
    
    <input class="but" type="submit" value="UPLOAD">
</form>